.page-header
  = link_to taggings_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_tagging_path(@tagging), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show tagging

%dl.dl-horizontal
  %dt Tag:
  %dd= @tagging.tag
  %dt Article:
  %dd= @tagging.article
